# Dépendances principales
numpy
pandas
scipy
colorama
plotly
kaleido
pillow
tifffile
PyQt5

# Dépendances pour les infos cross-platform
psutil
py-cpuinfo
GPUtil

# Dépendances pour les Tests
pytest
pytest-cov
pytest-html
pytest-md
pytest-json
pytest-json-report
pytest-metadata
allure-pytest

# Dépendances pour la documentation
sphinx
sphinx-autobuild
sphinx-rtd-theme
ansi2html